<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<button class="topright" mat-icon-button [matMenuTriggerFor]="menu">{{nombreDoctor}}
        <mat-icon>account_circle</mat-icon>
      </button>
    <mat-menu  #menu="matMenu">
        <button class="btn1" mat-menu-item disabled>
            <mat-icon>account_circle</mat-icon>
            <span>Ver Perfil</span>
        </button>
        <button class="btn1" mat-menu-item>
            <mat-icon>launch</mat-icon>
            <span>Cerrar Sesion</span>
        </button>
        
    </mat-menu>
<!--<body>
    <div class="container">
  <div class="panel-group">
        <div class="panel panel-primary custom">
          <div class="panel-heading">Turnos en espera</div>
          <div type="button "class="btn">CONT-001</div>
          <div type="button "class="pnl-body"></div>
          <div type="button "class="btn">CONT-001</div>
          <div type="button "class="pnl-body"></div>
          <div type="button "class="btn">CONT-001</div>
          <div type="button "class="pnl-body"></div>
          <div type="button "class="btn">CONT-001</div>
          <div type="button "class="pnl-body"></div>
          <div type="button "class="btn">CONT-001</div>
        </div>
  </div> 
</div>

</body><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
</body>
</html>-->
