@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
  }
  .container {
    padding: 0 1rem;
  }
.tuma{
  color: grey;
}

html { background-color: white    ; }

