<ul>
    <br>
    <div class="row">
      <div class="col-md-3" 
      (click)="generarTurno()" 
      [class.active] = "isActive" 
      *ngFor="let turno of turnos">
      <a href="#" class="btn btn-primary btn-lg btn-block btn-huge">{{ turno }}</a> 
      </div>
</div>
</ul>

<br>
<!--    div class="row">
      <div class="col-md-3">
          <a href="#" class="btn btn-primary btn-lg btn-block btn-huge">Test button</a>
      </div>
      <div class="col-md-3">
          <a href="#" class="btn btn-primary btn-lg btn-block btn-huge">Test button</a>
      </div>
      <div class="col-md-3">
          <a href="#" class="btn btn-primary btn-lg btn-block btn-huge">Test button</a>
      </div>
      <div class="col-md-3">
          <a href="#" class="btn btn-primary btn-lg btn-block btn-huge">Test button</a>
      </div>
</div!>
<button mat-raised-button>Click me!</button>
<span 
  class="glyphicon"
  [class.glyphicon-star]="isActive"
  [class.glyphicon-star-empy] ="!isActive"
  (click) = "onSave()"
></span>-->

