<h2 mat-dialog-title>Registrar Tipo Turno</h2>
<form class="form-tipoturno" #formEstado="ngForm" >
<mat-dialog-content>
                <input type="hidden" id="id_consulta" name="id_consulta" class="form-control"  placeholder="Id"  [(ngModel)]="this.tipoturnoService.selectedTipoTurno.id_consulta">
                <input type="hidden" id="id" name="id" class="form-control"  placeholder="Id" [(ngModel)]="this.tipoturnoService.selectedTipoTurno.id">
                <input type="hidden" id="activo" name="activo" class="form-control"  placeholder="activo" [(ngModel)]="this.tipoturnoService.selectedTipoTurno.activo">
        <div >
                <input type="text" id="tipoConsulta" name="tipo_consulta" class="form-control"  placeholder="Nombre Tipo" [(ngModel)]="this.tipoturnoService.selectedTipoTurno.tipo_consulta">
                
        </div>
    
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button (click)="onSaveTipoTurno(formEstado)">Salvar Tipo</button>
</mat-dialog-actions>

</form>