<sidebar>
  <div class="container">
    <h1>Usuarios</h1>
    <div class="col">
      <button mat-button routerLink="/signup" >Añadir<mat-icon>add</mat-icon></button> 
            <table class="table table-striped">
                    <thead>
                            <tr>
                                    <th>Nombre Usuario</th>
                                    <th>Correo Electrónico</th>
                                    <th>Eliminar</th>
                            </tr>
                    </thead>
                    <tbody>
                            <tr *ngFor="let usuario of usuarios">
                                        
                                    <td>{{usuario.username}}</td>
                                    <td>{{usuario.email}}</td>
                                    <td><button mat-button (click)=onDeleteUser(usuario.id)>
                                                    <mat-icon>delete</mat-icon>
                                            </button></td>
                            </tr>

                    </tbody>

            </table>
    </div>
</div>

    
</sidebar>

