<h1>PUCMM Salud </h1>
<mat-toolbar>
  <span>Tipo de paciente</span>
</mat-toolbar>

User name: <input type="text" [(ngModel)]="userName">
<button (click) = "search()">Search</button>
<p>Login name: {{response?.login}} </p>
<div *ngIf="response"> 
  
  <p>No. of Repos: {{response.public_repos}}</p>
</div>

<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="75%"><tipo-turno-btn [is-active]="post.isActive"> </tipo-turno-btn></div>

</div>


  <!--<div>
  
  
<app-todos></app-todos>

</div>-->


